In [1]:
import pandas as pd

In [2]:
path = '/Users/localhost/Desktop/Projects/Working/CFAv2/local_cache/original_k2_data/labels/joined_labels.csv'

In [3]:
df=pd.read_csv(path)

In [4]:
df.head()

   planet_id label  junk
0  201050049     J   NaN
1  201071583     J   NaN
2  201072501     J   NaN
3  201073867     J   NaN
4  201077909     J   NaN